* {
  box-sizing: border-box;
}

html,
body {
  width:100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans","Arial", sans-serif;
}

div,section,article,p,h1,h2,h3,h4,ul,fieldset {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  width: 320px;
  margin: auto;

  @media @tablet-width {
    width: 700px;
  }

  @media @desktop-width {
    width: 1200px;
  }
}

.flex-wrapper {
  padding: 0 20px;

  &--wrap-checkbox {
    padding: 0;
  }

  @media @tablet-width {
    padding: 0;
    &--tbl {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  }

  @media @desktop-width {
    display: flex;
    justify-content: space-between;

    &--wrap-checkbox {
      display: flex;
    }
  }
}


.close {
  display: none;
}


.center-wrapper {
  padding: 0;

  @media @tablet-width {
    padding: 0 40px;
  }

  @media @desktop-width {
    padding: 0 130px;
  }

}


