
.ad-effect {
  display: none;

  @media @tablet-width {
    display: block;
    padding: 49px 0 0;
    & .center-wrapper {
      display: flex;
      justify-content: flex-start;
    }
  }

  @media @desktop-width {
    background-color: #f2f2f2;
    padding-top: 27px;
    padding-bottom: 56px;
  }

}


.ad-effect__logo {

  svg#timer {
    width: 240px;
    height: 280px;

    @media @desktop-width {
      width: 296px;
      height: 353px;
    }

  }

  & img {
    display: block;
  }

  @media @tablet-width {
    width: 300px;
    margin-right: 9px;
  }

  @media @desktop-width {
    margin-right: 65px;
  }

}




.ad-effect__desc {

  @media @tablet-width {
    width: 310px;
    padding-top: 50px;
  }

  @media @desktop-width {
    width: 570px;
    padding-top: 96px;
  }

}


.ad-effect__header {

  @media @tablet-width {
    width: 170px;
    .text-size(30px, 36px);
    color: #000;
    margin-bottom: 8px;
  }

  @media @desktop-width {
    width: 100%;
    margin-bottom: 21px;
  }

}


.ad-effect__text {

  @media @tablet-width {
    width: 300px;
    .text-size(14px, 24px);
    color: #283645;
    margin-bottom: 7px;
    text-align: left;
  }

  @media @desktop-width {
    width: 100%;
    .text-size(18px);
    margin-bottom: 30px;
  }

}

.ad-effect__link {

  @media @tablet-width {
    .text-size(14px);
    color: #d22856;
    text-align: left;
    text-decoration: underline;
  }
  @media @desktop-width {
    width: 100%;
    .text-size(18px);
  }
}

