.ad {
  padding: 13px 5px 0;
  margin-bottom: 17px;
  text-align: center;

   @media @tablet-width {
    width: 310px;
    text-align: left;
    padding-top: 0;
    margin-bottom: 35px;
    &&--bg-screen-3 {
      width: 320px;
    }
  }

  @media @desktop-width {
    width: 250px;
    text-align: center;
    padding-top: 245px;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: -116px;
      left: 0;
      height: 303px;
      width: 250px;
      background-repeat: no-repeat;
      background-position: center 5px;
      background-size: cover;
      box-shadow: 0 4px 3px -3px #cecece;
    }
    &&--bg-screen-1:before {
      .background-retina("iphone-screen-1-desktop","png");
    }
    &&--bg-screen-2:before {
        .background-retina("iphone-screen-2-desktop","png");
    }
    &&--bg-screen-3 {
      width: 243px;
      &:before {
        .background-retina("iphone-screen-3-desktop","png");
     }
    }
  }

}

.ad__title {
  font-weight: bold;
  color: #000;
  .text-size(18px ,24px);
  margin-bottom: 13px;

  @media @desktop-width {
    .text-size(30px, 30px);
    margin-bottom: 24px;
  }


}

.ad__desc {
  font-weight: normal;
  .text-size(14px, 24px);
  color: #283645;

  @media @desktop-width {
    .text-size(18px);
  }

}


.ad-wrapper {
  background: #f2f2f2;
  position: relative;
  .background-retina("iphone-screen-mobile","png");
  background-repeat: no-repeat;
  background-position: bottom -40px center;
  padding: 55px 0 303px;

  @media @retina-dpi,@retina-ppx {
    background-size: 50%;
  }
  &:before {
    content: "";
    position: absolute;
    height: 33px;
    background: linear-gradient(to bottom right, transparent 49%, #f2f2f2 50%);
    left: 0;
    right: 0;
    top: -33px;

    @media @tablet-width {
      height: 57px;
      top: -57px;
    }

    @media @desktop-width {
      height: 95px;
      top: -95px;
    }

  }

  @media @tablet-width {
    background-image: none;
    padding-bottom: 3px;
    padding-top: 21px;
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: -48px;
      left: 40px;
      width: 265px;
      height: 480px;
      background-repeat: no-repeat;
      background-size: cover;
      .background-retina("iphone-screen-3-tablet","png");
    }
  }

  @media @desktop-width {
    background-image: none;
    padding: 0;
    padding-top: 5px;
    &:after {
      background-image: none;
    }
  }

}

.ad-wrapper .center-wrapper{

  @media @tablet-width {
    padding-left: 346px;
  }

  @media @desktop-width {
    padding: 0 66px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

}
