
.contacts {
  //padding: 0 20px;
  text-align: center;
  position: relative;
  &:after {
    //content: '';
    position: absolute;
    height: 63px;
    background: linear-gradient(to top right, transparent 49%, #f2f2f2 50%);
    left: 0;
    right: 50%;
    bottom: -63px;
    z-index: 50;
  }
}

.contacts {

}


.contacts-header {
  margin-bottom: 32px;

  @media @tablet-width {
    margin-bottom: 37px;
  }

  @media @desktop-width {
    padding-top: 14px;
    padding-left: 10px;
    margin-bottom: 54px;
  }
}

.contacts-header__desc {
  font-weight: 300;
  .text-size(24px);
  color:#283645;
  padding-left: 2px;

  @media @tablet-width {
    .text-size(40px, 50px);
  }

  @media @desktop-width {
    .text-size(50px, 60px);
  }

}

.contacts-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media @desktop-width {
    justify-content: space-between;
  }

}


.contact {
  margin-bottom: 19px;
  padding-left: 2px;
  &--email {
    padding-left: 13px;
    margin-bottom: 24px;
  }
  @media @tablet-width {
    &--tel {
      order: 1;
      margin-right: 100px;
      padding-left: 44px;
    }
    &--email {
      order: 2;
      margin-bottom: 44px;
      & .contact__title {
        padding-right: 44px;
      }
    }
    &--addres {
      order: 3;
    }
  }

  @media @desktop-width {
    &--tel {
      order: 1;
      margin-right: 0;
    }
    &--email {
      order: 3;
    }
    &--addres {
      order: 2;
      padding-left: 18px;
    }
  }

}

.contact__title {
  font-weight: bold;
  .text-size(18px, 24px);
  margin-bottom: 2px;
  padding-left: 2px;

  @media @tablet-width {
    .text-size(18px);
    margin-bottom: 1px;
  }

  @media @desktop-width {
    margin-bottom: 20px;
  }

}

.contact__desc {
  .text-size(24px);
  color:#d22856;
  & a {
    text-decoration: none;
    color:#d22856;
    &:hover {
      color: #000;
      text-decoration: underline;
    }
    &:active {
      color: #e9eaeb;
    }
  }
}

.map {
  position: relative;
  z-index:49;
}
