
.copyright {
  text-align: center;
  padding-left: 40px;
  @media @tablet-width {
    padding-top: 10px;
    padding-left: 0;
  }
}

.copyright__link {
  text-decoration: none;
  font-weight: normal;
  .text-size(14px, 18px);
  color:#283645;
  display: inline-block;
  padding:8px 0;
  padding-right: 42px;

  @media @tablet-width {
    padding-right: 0;
  }

  @media @desktop-width {
    .text-size(18px);
    padding-right: 0;
  }

}

.copyright__academy-logo {
  vertical-align: middle;

  fill: #d22856;

  &:hover {
    fill: #283645;
  }
  &:active {
    fill: #bec2c7;
  }

}
