
.download-app {
  padding: 18px 0 28px 0;
  background: #1d2631;
  position: relative;
  z-index: 50;
  @media @tablet-width {
    width: 300px;
    background-color: transparent;
    padding: 100px 0;
  }

  @media @desktop-width {
    //width: 300px;
  }

}

.download-app__title {
  display: none;

  @media @tablet-width {
    display: block;
    .text-size(40px, 50px);
    color:#fff;
    text-align: center;
    font-weight: 300;
    margin-bottom: 35px;
  }

}

.download-app__links {
  margin-bottom: 27px;
  padding: 0 35px;
  display: flex;
  justify-content: space-between;
}

.download-app__link {
  width: 45px;
  height: 60px;
  &--apple {
    background: url('../img/logo-apple.svg') no-repeat;
  }
  &--android {
    background: url('../img/logo-android.svg') top 10px left 0 no-repeat;
  }
  &--windows {
    background: url('../img/logo-microsoft.svg') top 13px left 0 no-repeat;
  }
}

.download-app__footer {
  padding: 0 20px;
}

.download-app__footer-desc {
  font-weight: 300;
  .text-size(14px, 24px);
  color:#fff;
  text-align: center;
}

