
.form-input {
  margin-bottom: 14px;
}

.form-input__label {
  color: #d22856;
  .text-size(14px);
  display: block;
  text-transform: uppercase;
  padding: 5px 22px;
}

.form-input__field {
  .text-size(18px);
  color: #283645;
  padding: 14px 30px 13px 24px;
  border: 2px solid #e5e5e5;
  border-radius: 3px;
  &:hover {
    border-color: #000;
  }
  &:focus {
    outline: none;
    border-color: #d22856;
  }
}
