
.information-header {
  font-weight: 300;
  .text-size(24px);
  color:#283645;
  text-align: center;
  padding-top: 38px;
  margin-bottom: 44px;

  @media @tablet-width {
    padding-top: 49px;
    margin-bottom: 93px;
  }

  @media @desktop-width {
    padding-top: 64px;
    margin-bottom: 188px;
  }

}

.information-header__desc {
  margin-bottom: 26px;

  @media @tablet-width {
    margin-bottom: 0;
    .text-size(40px, 50px);
    &&--padding {
      padding: 0 120px;
    }
  }

  @media @desktop-width {
    .text-size(50px, 60px);
    &&--padding {
      padding:  0 260px;
    }
  }

}

.information-footer {
  text-align: center;
}

