
.main-nav {
  font-weight: bold;
  background-color: rgba(0,0,0,0.3);

  @media @desktop-width {
    background-color: rgba(0,0,0,0.3);
  }

  & .main-nav__list {
    display: none;

    @media @desktop-width {
      display: flex;
      width: 100%;
      justify-content: space-between;
      text-transform: normal;
      position: static;
      background-color: transparent;
    }

  }

  &&--mrg {
    margin-bottom: 396px;

    @media @tablet-width {
      margin-bottom: 0;
    }

  }

  &&--open {
    background-color: #283645;

    & .main-nav__list {
      display: block;
      background-color: #283645;
      position: absolute;
      width: 100%;
      left: 0px;
      z-index: 66;

      @media @desktop-width {
        position: static;
        display: flex;
        justify-content: space-between;
        position: static;
        background-color: transparent;
      }

    }

    & .main-nav__open {
      display: none;
    }
    & .main-nav__close {
      display: block;
    }

    @media @desktop-width {
      background-color: transparent;
    }

  }
  &&--no-js {
    & .main-nav__list {
      position: static;
      width: 100%;
    }
  }
}

.header-flex-wrapper {

  @media @desktop-width {
    display: flex;
    align-items: center;

    & .main-nav__open-menu {
      display: none;
    }

    & .main-nav__list {

    }
  }

}

.main-nav__header {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  @media @tablet-width {
    padding: 27px 0 43px;
    align-items: center;
  }

  @media @desktop-width {
    padding: 27px 0 28px;
  }

}

.main-nav__logo,
.main-nav__open-menu {
  display: block;
  width: 80px;
  height: 30px;
  background-repeat: no-repeat;
}
.main-nav__logo {

  @media @tablet-width {
    width: 150px;
    height: 40px;
  }

  @media @desktop-width {
    margin-right: 110px;
    width: 160px;
    height: 55px;
  }

}

.header-logo {
    color: #fff;
    &:hover {
      color: #d22856;
    }
    &:active {
      fill:#fff;
      opacity: .3;
    }
    &&--mob {
      display: block;
    }
    &&--tabl,
    &&--desk {
      display: none;
    }

  @media @tablet-width {
    &&--tabl {
      display: block;
    }
    &&--mob,
    &&--desk {
      display: none;
    }
  }

  @media @desktop-width {
      &&--desk {
        display: block;
      }
      &&--mob,
      &&--tabl {
        display: none;
      }
  }

  }

.main-nav__open-menu {
  width: 60px;
  padding-left: 10px;
  & .main-nav__open {
    display: block;
  }

  & .main-nav__close {
    display: none;
  }

  &&--menu-open {
    padding-left: 20px;
  }

  & .main-nav__open,
    .main-nav__close {
      color: #fff;
      &:hover {
        color: #d22856;
      }
      &:active {
        opacity: .3;
      }
    }

  @media @tablet-width {
    padding-top: 10px;
    & .main-nav__open {
      display: block;
      width: 50px;
      height: 25px;
    }
    & .main-nav__close {
      display: none;
    }
  }

  &&--menu-open {
    & .main-nav__open {
      display: none;
    }
    & .main-nav__close {
      display: block;
    }
  }

}


.main-nav__item {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  text-align: center;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;

  @media @desktop-width {
    border: none;
  }

}

.main-nav__link {
  .text-size(18px, 32px);
  color:#fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 0;
  width: 100%;
  display: block;
  &:hover {
    color: #d22856;
  }
  &:active {
    opacity: 0.3;
  }

  @media @desktop-width {
    text-transform: none;
    font-weight: 300;
    border-bottom: 2px solid transparent;
    display: inline;
    &:hover {
      color: #d22856;
      border-color: #d22856;
    }
    &:active {
      border-color: transparent;
      opacity: 0.3;
    }
    &[href] {
      &:hover {
        color:#ffffff;
        border-color: #ffffff;
      }
      &:active {
        border-color: transparent;
        opacity: 0.3;
      }
    }
  }
}

