
.main-nav {
  font-weight: bold;
  background-color: #283645;
}

.main-nav__header {
  padding: 20px;
  .clearfix();
}

.main-nav__logo {
  float: left;
}

.main-nav__open-menu {
  float: right;
}

.main-nav__list {

}

.main-nav__item {
  display: inline-block;
  width: 100%;
  text-align: center;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
  padding: 15px 0;
}

.main-nav__link {
  .text-size(18px, 32px);
  color:#fff;
  text-decoration: none;
  text-transform: uppercase;
}
