

.map {
  text-align: center;
  height: 200px;
  width: 320px;
  margin: 0 auto;
  background-size: cover;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  position: relative;
  &:after {
    //content: "";
    display: block;
    width: 38px;
    height: 38px;
    background-image: url("../img/icon-map-marker.svg");
    background-repeat: no-repeat;
    position: absolute;
    left: 47%;
    top: 50%;

    @media @tablet-width {
      left: 48%;
    }

    @media @desktop-width {
      left: 49%;
    }

  }
  @media @tablet-width {
    height: 380px;
    width: 700px;
    margin-bottom: 7px;
    background-image: url("../img/bg-map-tablet@1x.jpg");
    background-position: 50% 50%;
  }

  @media @desktop-width {
    height: 500px;
    width: 1200px;
    margin-bottom: 31px;
    background-image: url("../img/bg-map-desktop@1x.jpg");
  }
}

.map__google-map {
  width: 100%;
  height: 100%;
}
.map__triangle {
    display: block;
    position: absolute;
    width: 100%;
    min-height: 62px;
    top: -14px;
    left: 0px;
    z-index: 1;
}
