
.page-footer {
  text-align: center;

  @media @tablet-width {
    padding: 23px 0;
  }

  @media @desktop-width {
    padding: 31px 0;
  }

}

.page-footer--hide {
  display: none;

  @media @tablet-width {
    display: flex;
  }

}

.page-footer .center-wrapper {

    @media @tablet-width {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
}

.footer-logo {
  margin-bottom: 34px;
  & img {
    width: auto;
  }
  @media @tablet-width {
    width: 150px;
    margin-bottom: 0;
  }

  @media @desktop-width {

  }

}




