
.page-header {
  //
}


.description {
  background: url('../img/bg-back-mobile@1x.jpg') no-repeat;
  background-size: cover;
  padding: 30px 28px 52px 28px;
  font-weight: 300;
  min-height: 171px;
}

.description__text {
  .text-size(24px);
  color: #fff;
  text-align: center;
}

