
.popup {
  margin: auto;
  padding: 20px 19px;
  font-weight: bold;
  text-align: center;
  .text-size(14px, 24px);
  color: #283645;
  box-shadow: 0 12px 20px -9px #ccc;
  &--close {
    display: none;
  }
}

.popup__title {
  .text-size(18px, 24px);
  margin-bottom: 40px;
}

.popup__btn {
  background-color: #f2f2f2;
}
