.posts {
  margin-bottom: 36px;

  @media @tablet-width {
    margin-bottom: 45px;
  }

  @media @desktop-width {
    margin-bottom: 0;
  }

}

.posts__header {
  padding: 45px 0 50px;

  @media @tablet-width {
    padding: 91px 0 76px;
  }

  @media @desktop-width {
    padding-bottom: 89px;
  }


}

.posts__title {
  font-weight: normal;
  color: #283645;
  .text-size(14px);
  text-align: center;
  max-width: 250px;
  margin: 0 auto;

  @media @tablet-width {
    .text-size(18px);
    max-width: 450px;
  }

  @media @desktop-width {
    max-width: 580px;
  }


}


.posts__wrapper {

  @media @tablet-width {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

}
