
.prices {
  margin-bottom: 42px;
  padding-top: 65px;
  position: relative;
  background-color: #f2f2f2;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    height: 33px;
    background: linear-gradient(to bottom right, transparent 49%, #f2f2f2 50%);
    background-repeat: no-repeat;
    left: 0;
    right: 0;
    top: -33px;
    z-index: 77 ;

    @media @tablet-width {
      height: 55px;
      top: -55px;
    }

    @media @desktop-width {
      height: 85px;
      top: -85px;
    }

  }

  @media @tablet-width {
    width: 100%;
    padding-top: 24px;
  }

  @media @desktop-width {
    padding-top: 48px;
  }

}

.prices .center-wrapper {
  position: relative;
  min-height: 380px;
  overflow: hidden;

  @media @tablet-width {
    min-height: 290px;
    padding-bottom: 70px;
  }

  @media @desktop-width {
    min-height: 380px;
    padding-bottom: 100px;
  }

}

.prices__wrapper {
  width: 840px;
  position: absolute;
  .clearfix();
  left: -260px;

  @media @tablet-width {
    position: static;
    width: 100%;
    padding: 16px 0 0 1px;
  }

}
