
.review {
  text-align: center;
  color:#000;
}

.review-slider__title {
  font-weight: bold;
  .text-size(18px);
  margin-bottom: 30px;
}

.review-slider__desc {
  font-weight: normal;
  .text-size(14px);
}
