
.slide-control {
  position: absolute;
  bottom: 37px;
  left: 130px;
}

.slide-control__toggle {
  display: none;
  &:checked ~.slide-control__state {
    border:3px solid #000;
    background-color: transparent;
    width: 11px;
    height: 11px;
  }
  &--slides-1:checked +.price-plan__wrapper{
    left: 280px;
    background-color: red;
  }
}

.slide-control__state {
  width: 6px;
  height: 6px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  background-color: #b5b9be;//b5b9be
  margin-right: 14px;
  cursor: pointer;
}

.slide-control--review {
  bottom: -61px;
  @media @tablet-width {
    left: 45%;
    bottom: -56px;
  }

  @media @desktop-width {
    display: none;
  }

}


.slide-control--prices {
  bottom: 43px;
  left: 133px;
  @media @tablet-width {
    display: none;
  }
}
