
.social {
  margin-bottom: 30px;
  padding-left: 14px;
  text-align: center;
  @media @tablet-width {
    margin-bottom: 0;
    padding-left: 0;
  }

  @media @desktop-width {
    margin-bottom: -13px;
    padding-left: 28px;
  }

}

.social-link {
  width: 49px;
  height: 49px;
  display: inline-block;
  border: 2px solid #e9ebec;
  border-radius: 50%;
  text-indent: -9999px;
  margin-right: 12px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: #ffffff;
  &&--tw {
    background-image: url('../img/icon-twitter.svg');
  }
  &&--fb{
    background-image: url('../img/icon-facebook.svg');
  }
  &&--yo {
    background-image: url('../img/icon-youtube.svg');
  }
  &:hover {
    border-color: #000;
  }
  &:active {
    opacity: 0.1;
  }
}
