
.user-post {
  margin-bottom: 14px;
  & img {
    display: block;
    margin: auto;
  }
  @media @tablet-width {
    width: 300px;
    margin-right: 20px;
    margin-bottom: 18px;
    &:nth-child(2n) {
      margin-right: 0;
    }

  }

  @media @desktop-width {
    margin-right: 20px;
    margin-bottom: 55px;

    &:nth-child(2n) {
      margin-right: 20px;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

}



.user-post__wrapper {
  padding: 0 20px;
  width: 320px;
  margin: auto;
  @media @tablet-width {
    width: 700px;
    display: flex;
    justufy-content: space-between;
    flex-wrap: wrap;
    padding: 0 40px;
  }

  @media @desktop-width {
    width: 1200px;
    padding: 0 130px;
  }

}

.user-post__photo {

  @media @tablet-width {
    min-height: 300px;
    margin-bottom: 0;
  }

  @media @desktop-width {
    min-height: 400px;
  }

}





.user-post__desc-wrapper {
  min-height: 127px;
   @media @tablet-width {
    min-height: 149px;
   }

}

.user-post__header {
  margin-bottom: 0px;
}

.user-post__description {
  padding:17px 13px 25px 15px;
  text-align: left;
  background-color: #f2f2f2;

  @media @tablet-width {
    padding: 25px 27px;
  }

  @media @desktop-width {
    padding: 24px 27px;
  }

}

.user-post__title {
  font-weight: bold;
  .text-size(14px, 24px);
  display: inline-block;
  margin-right: 2px;
}

.user-post__date {
  font-weight: 300;
  .text-size(12px, 24px);
  text-transform: uppercase;
}

.user-post__text {
  font-weight: normal;
  .text-size(14px, 24px);
  text-align: left;
  margin-bottom: 10px;
  clear: both;

  @media @tablet-width {
    min-height: 48px;
  }

}

.user-post__likes {
  color: #d22856;
  .text-size(12px, 24px);
  padding-left: 33px;
  text-transform: uppercase;
  background: url("../img/icon-heart.svg") top 45% left 0 no-repeat;

  @media @tablet-width {
    padding-left: 0;
    background-position:top 45% right 0;
  }

}


.user-post.user-post--best {
  margin-bottom: 13px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;


  @media @tablet-width {
    width: 700px;
    margin: auto;
  }

  @media @desktop-width {
    width: 1200px;
  }

  .user-post__desc-wrapper {
    margin: auto;
    padding: 0 20px;
    margin-bottom: 23px;

    @media @tablet-width {
      width: 700px;
      padding: 0 40px;
      margin: 0 auto 22px;
    }

    @media @desktop-width {
      width: 1200px;
      padding: 0 130px;
      min-height: 0;
      margin-bottom: 52px;
    }

  }

  .user-post__header {
    margin-bottom: 1px;
    @media @tablet-width {
        float: left;
        width: 50%;
    }
  }

  .user-post__description {
     padding: 15px 13px 17px 15px;;

    @media @tablet-width {
        .clearfix();
        position: relative;
        padding: 24px 13px 11px 26px;
    }

    @media @desktop-width {
      padding: 19px 13px 11px 26px;
    }

  }
  .user-post__text {
    @media @desktop-width {
        min-height: 0;
    }
  }

  .user-post__likes {

    @media @tablet-width {
        position: absolute;
        top: 25px;
        right: 33px;
        padding-right: 27px;
    }

    @media @desktop-width {
      top: 21px;
      right: 35px;
    }

  }

  .user-post__photo {

    margin-bottom: 0;
    padding: 0;
    position: relative;
    & img {
      display: block;
    }
    @media @tablet-width {
      min-height: 510px;
    }

    &:after {
      content: "панорама дня";
      display: block;
      width: 140px;
      height: 35px;
      background-color: #d22856;
      color: #fff;
      position: absolute;
      top: 0;
      right: 20px;
      font-weight: bold;
      .text-size(12px,35px);
      text-align: center;
      text-transform: uppercase;

     @media @tablet-width {
      top: 60px;
      right: 40px;
     }

     @media @desktop-width {
      top: 55px;
      right: 130px;
     }

    }
  }



}
